body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
}

.padding{
  padding-bottom: 200px;
}
.flexible-container{
  display:flex;
}
.half-width{
  width:50%;
  padding-left: 10%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(pink, red);
  color:white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 20px;
}

/* product style */






.container{
  background-color: #FFFFFF;
  width: 870px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}

.product .product-banner img{
  width: 300px;
  height: 250px;
}

.product-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-star{
  font-size: 12px;
}
.fa-star.filled{
  color: #ffc936;
}
.fa-star.empty{
  color: #c6c6c6;
}